h1 {
  font-family: 'Unica One', cursive;
}

main {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.search {
  width: 250px;
  font-family: 'Unica One', cursive;
}

label{
  font-family: 'Unica One', cursive;
  display: inline-block;
  width: 140px;
  text-align: center;
  height: 50px;
}

.modal-currency-overlay,
.listing-modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  background-image: url("img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.listing-modal-overlay{
  display: flex;
  flex-direction: column;
}

.modal-currency, .listing, .failed-handling {
  background-color: white;
  border: solid 5px black;
  box-shadow: 0px 0px 100px rgb(255, 255, 255);
  width: 600px;
  padding: 10px;
  text-align: center;
  position: relative;
  font-family: 'Unica One', cursive;
}

.appName-1, .appName-2{
  font-size: 80px;
}

.appName-1 {
  position: relative;
  right: 10%;
}

.appName-2{
  position: relative;
  left: 10%;
}

.listing {
  background-color: white;
}

.listing > div > p {
  font-family: 'Comfortaa', cursive;
}

.resize {
  font-size: 12px;
}

select {
  font-family:'Unica One', cursive;
  border-radius: 50px;
}

select:focus{
  outline: none;
  border-color: gray;
}

.currencyButton {
  font-family:'Unica One', cursive;
  position: absolute;
  bottom: 24%;
  padding: 10px;
  border-radius: 50px;
  background-color: white;
  border: 0px;
}

.backPageSearch {
  position: absolute;
  bottom: 10%;
  font-family:'Unica One', cursive;
  padding: 10px;
  border-radius: 50px;
  background-color: white;
  border: 0px;
}

.backPage, .submitSearch, .returnSearch {
  font-family:'Unica One', cursive;
  padding: 10px;
  border-radius: 50px;
  background-color: white;
}

.backPage:active, .submitSearch:active, .returnSearch:active{
  transform: scale(1.1);
}

.backPage:focus, .submitSearch:focus, .returnSearch:focus{
  outline: none;
}

.currencyButton:active, .backPageSearch:active{
  transform: scale(1.1);
  box-shadow: 0px 0px 10px #b76e79;
}

.currencyButton:focus, .backPageSearch:focus{
  outline: none;
}

.listing {
  height: 50%;
  overflow: scroll;
}

.form-container {
  background-color: white;
  border: solid 5px black;
  padding: 4rem;
  box-shadow: 0px 0px 100px rgb(255, 255, 255);
}

.form-container > div {
  text-align: center;
}

fieldset {
  border: 0;
}

img {
  border-radius: 25px;
  height: 100px;
  width: 100px;
}

.failed-handling-overlay,
.failed-network-handling-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  z-index: 1;
}

.hidden {
  visibility: hidden;
}
